.cart {
    display: flex;
    flex-direction: column;
    min-height: 88vh;
}

.cart__title {
    font-weight: 300;
    font-size: 1.5rem;
    margin-bottom: 3rem;
}

.cart__item {
    display: flex;
    flex-direction: row;
    width: 34.25rem;
    height: 20.25rem;
    justify-content: space-between;
    margin-bottom: 6rem;
}

.cart__item-img {
    width: 16.375rem;
    height: 20.25rem;
    object-fit: contain;
}

.cart__item-data {
    margin-top: 2.5rem;
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    min-width: 15.375rem;
}

.cart__item-price {
    margin-top: 1.25rem;
}

.cart__item-delete {
    margin-top: auto;
    border: none;
    text-align: left;
    cursor: pointer;
    color: var(--color-delete);
}

.cart__footer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
    margin-bottom: 1.25rem;
}

.cart__footer-price {
    display: flex;
    align-items: center;
    margin-left: auto;
    text-transform: uppercase;
}

.cart__footer-amount {
    margin-left: 1.5rem;
    margin-right: 3.5rem;
}

/* Tablet */
@media (max-width: 1199px) {
    .cart__title {
        font-size: 1.25rem;
    }
    .cart__item {
        width: 100%;
    }
    .cart__footer-price {
        margin-right: 2rem;
    }
}

/* Mobile */
@media (max-width: 767px) {
    .cart__item {
        flex-direction: column;
        width: 100%;
        height: auto;
        margin-bottom: 3rem;
    }
    .cart__item-img {
        width: 100%;
        height: 14rem;
    }
    .cart__footer {
        flex-wrap: wrap;
        .main-button {
            order:2;
            width: 48%;
            white-space: nowrap;
        }
    }
    .cart__footer-price {
        display: flex;
        justify-content: space-between;
        margin-bottom: 24px;
        order: 1;
        margin-left: 0;
        margin-right: 0;
        width: 100%;
    }
    
    .cart__footer-amount {
        margin-right: 0;
    }
}
