.color-selector {
  margin-bottom: auto;
  .color-selector__text {
    font-size: .875rem;
    font-weight: 300;
    line-height: calc(17/14);
    margin-bottom: 1.5rem;
    text-transform: uppercase;
  }
  .color-selector__tabs {
    display: flex;
  }
  
  .color-selector__tabs-tab {
    height: 1.5rem;
    width: 1.5rem;
    background-color: var(--color-unselected);
    padding: 1px;
    margin-right: 1.5rem;
    margin-bottom: 0.5rem;
  }
  
  .color-selector__tabs-btn {
    height: 1.375rem;
    width: 1.375rem;
    border: 1px solid var(--color-white);
  }
  
  .color-selector__name {
    font-size: .75rem;
    text-transform: capitalize;
  }
}

