.similar-items {
  margin-top: 2rem;
  margin-left: 16.25rem;
}

.similar-items__title {
  font-size: 1.25rem;
  margin-bottom: 2.5rem;
  font-weight: 300;
}

.similar-items__slider {

  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
}

.similar-items__slider-item {
  height: 21.625rem;
  padding-top: 1px;
  width: 21.5rem;
  padding-left: 1px;
}

.similar-items__slider > * {
  flex: 0 0 auto;
  scroll-snap-align: start;
}
