@import '../components/Cart/Cart.module.css';
@import '../components/ColorSelector/ColorSelector.module.css';
@import '../components/Layout/Layout.module.css';
@import '../components/MainButton/MainButton.module.css';
@import '../components/PhoneItem/PhoneItem.module.css';
@import '../components/PhoneList/PhoneList.module.css';
@import '../components/PhoneSpecs/PhoneSpecs.module.css';
@import '../components/Searcher/Searcher.module.css';
@import '../components/Storage/Storage.module.css';