@import '../components/Layout/Layout.module.css';
@import '../components/PhoneList/PhoneList.module.css';
@import '../components/PhoneItem/PhoneItem.module.css';
@import '../components/Cart/Cart.module.css';