body {
    background-color: var(--color-background);
    color: var(--color-main-900);
    font-family: var(--font-main-family);
    font-size: var(--font-main-size);
    max-width: 120rem;
    margin:auto;
    padding-left: 6.25rem;
    padding-right: 6.25rem;

}