body {
    background-color: var(--color-background);
    color: var(--color-main-900);
    font-family: var(--font-main-family);
    font-size: var(--font-main-size);
    max-width: 113.75rem;
    padding-left: 3.125rem;
    padding-right: 3.125rem;
    margin:auto;
    font-weight: 300;
}